[Desktop Entry]
Name=Gamux
Icon={{target}}/.icon.svg
Comment=Gamux
Exec="{{target}}/start.sh" %u
Version=1.0
Type=Application
Categories=Game;
Terminal=false
StartupNotify=true